@charset "UTF-8";
/* タイトルの装飾 */
.title {
  background-color: #234555;
  color: white;
  padding: 5px 10px;
}
/* コメントの枠 */
.cheering {
  font-weight: bold;
  border-style: outset;
  padding: 10px 20px;
}
/* アンケートフォームの装飾 */
.form {
  color: #234555;
}

/* 文字感覚 */
label {
  font-weight: bold;
  color: #234555;
}

/* 各項目の間隔 */
input[type="text"],
input[type="email"],
input[type="radio"],
input[type="checkbox"],
input[type="message"],
textarea {
  margin: 5px 0 10px 0;
}

/* 選択ボタンの装飾 */
input[value="女"],
input[value="その他"],
input[value="Instagram"],
input[value="口コミ"] {
  margin-left: 10px;
}

/* 送信ボタンの装飾 */
input[type="submit"] {
  background-color: #234555;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px 20px;
}
